<div class="mpm-focal-container">
  <!-- Sidebar Content -->
  <aside class="sidebar">
    <app-stepper [selectedIndex]="currentStepIndex()"></app-stepper>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <app-forms
      customFieldset="dx-fieldset"
      maintitle="General Information"
      [fields]="fields"
    ></app-forms>

    <div class="button-container">
      <app-button
        class="cancel-button"
        text="Cancel"
        stylingMode="text"
      ></app-button>
      <div class="action-buttons">
        <!-- <app-button
          class="add-button"
          text="Previous"
          stylingMode="contained"
          (buttonClick)="onAddButtonClick()"
        ></app-button> -->
        <app-button
          class="add-button"
          text="Next"
          stylingMode="contained"
          [disabled]="true"
        ></app-button>
      </div>
    </div>

    <!-- <app-dialog-form
      [title]="dialogTitle"
      [popupVisible]="isDialogVisible"
      (popupVisibleChange)="onDialogVisibleChange($event)"
    >
      @if (isDialogType('add')) {
      <div>
        <p>Add new item form will go here</p>
      </div>
      } @if (isDialogType('cancel')) {
      <div>
        <p>Are you sure you want to cancel?</p>
      </div>
      }
    </app-dialog-form> -->
  </main>
</div>
