app-sidebar {
  width: 4.5rem;
  border-radius: 0.75rem;
  background: linear-gradient(180deg, #4a5890 0%, #009db6 45.71%);
  background-size: cover;
  box-shadow: 0px 15px 20px 10px rgba(0, 48, 86, 0.1),
    0px 20px 80px 30px rgba(0, 48, 86, 0.15);
}

.app-main-layout {
  height: 100vh;
  background-image: url("/images/bg_pattern.svg");
  background-size: cover;
}