<div class="header-container">
  <div class="header-title">
    <app-button
      customButton="main-text-button"
      icon="arrowleft"
      text="Back"
      [hoverStateEnabled]="false"
      stylingMode="text"
    ></app-button>
    <h1>{{ title() }}</h1>
  </div>
  <dx-menu
    [items]="button"
    orientation="horizontal"
    [hideSubmenuOnMouseLeave]="false"
    [showFirstSubmenuMode]="{ name: 'onHover', delay: { show: 0, hide: 300 } }"
    [showSubmenuMode]="{ name: 'onHover', delay: { show: 0, hide: 300 } }"
    class="sidebar-menu"
    [itemTemplate]="'menuItemTemplate'"
  >
    <div *dxTemplate="let item of 'menuItemTemplate'">
      <div class="menu-item">
        <div class="dx-icon" [ngClass]="item.icon"></div>
      </div>
    </div>
  </dx-menu>
</div>
