<div class="d-flex w-100 h-100">
  <!-- Stepper container -->
  <div class="col-2">
    <app-stepper [selectedIndex]="currentStepIndex()"></app-stepper>
  </div>

  <!-- Form container -->
  <div class="d-flex flex-column p-2 w-100 justify-content-between">
    <app-forms
      customFieldset="dx-fieldset"
      maintitle="General Information"
      [fields]="fields"
    ></app-forms>

    <div class="button-container">
      <app-button
        class="cancel-button"
        text="Cancel"
        stylingMode="text"
      ></app-button>
      <div class="action-buttons">
        <app-button
          class="add-button"
          text="Next"
          stylingMode="contained"
          [disabled]="true"
        ></app-button>
      </div>
    </div>

    <!-- <app-dialog-form
      [title]="dialogTitle"
      [popupVisible]="isDialogVisible"
      (popupVisibleChange)="onDialogVisibleChange($event)"
    >
      @if (isDialogType('add')) {
      <div>
        <p>Add new item form will go here</p>
      </div>
      } @if (isDialogType('cancel')) {
      <div>
        <p>Are you sure you want to cancel?</p>
      </div>
      }
    </app-dialog-form> -->
  </div>
</div>
