// Core 
$petronas-emerald-green: #00B1A9;
$petronas-purple: #763F98;
$petronas-deep-grey: #3D3935;
$petronas-solid-white: #FFFFFF;

// Background
$light-grey: #F1F5F9;


// Colors - Functional
$petronas-blue: #20419A;
$orchid-purple: #BA9FCB;
$sky: #1BBCF5;
$petronas-yellow: #FDB924;
$pastel-green: #AEE2E0;
$lavendar: #7D86D9;
$petronas-lime-green: #BFD730;


//to continue
