<div class="form">
  <div [class]="customFieldset()">
    <!-- if maintitle is not empty show fieldset header -->
    @if (maintitle()) {
    <div class="dx-fieldset-header">{{ maintitle() }}</div>
    } @for (field of fields(); track field.name) {
    <div [class]="field.type === 'table' ? 'no-field-style' : customField()">
      <!-- if field label is not empty show field label -->
      @if (field.label) {
      <div class="dx-field-label">{{ field.label }}</div>
      } @switch (field.type) { @case ('select') {
      <dx-select-box
        class="dx-field-value"
        [placeholder]="field.placeholder || 'Select'"
        [items]="field.options || []"
        displayExpr="text"
        valueExpr="value"
      >
        <div *dxTemplate="let data of 'dropDownButton'">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 9.94598L5.85202 6.82003C5.70404 6.67308 5.5157 6.59961 5.287 6.59961C5.0583 6.59961 4.86996 6.67308 4.72197 6.82003C4.57399 6.96698 4.5 7.154 4.5 7.3811C4.5 7.6082 4.57399 7.79522 4.72197 7.94217L8.43498 11.6292C8.5157 11.7093 8.60314 11.7661 8.69731 11.7995C8.79148 11.8329 8.89238 11.8496 9 11.8496C9.10762 11.8496 9.20852 11.8329 9.30269 11.7995C9.39686 11.7661 9.4843 11.7093 9.56502 11.6292L13.278 7.94217C13.426 7.79522 13.5 7.6082 13.5 7.3811C13.5 7.154 13.426 6.96698 13.278 6.82003C13.13 6.67308 12.9417 6.59961 12.713 6.59961C12.4843 6.59961 12.296 6.67308 12.148 6.82003L9 9.94598Z"
              fill="#3D3935"
            />
          </svg>
        </div>
      </dx-select-box>
      } @case ('textarea') {
      <dx-text-area
        class="dx-field-value"
        [placeholder]="field.placeholder || ''"
        [maxLength]="field.maxLength || 1000"
        (onValueChanged)="onTextChange($event)"
      ></dx-text-area>
      @if (field.maxLength) {
      <div
        class="char-counter"
        [class.char-limit-reached]="
          field.maxLength - (currentText()?.length || 0) <= 0
        "
      >
        {{ currentText()?.length || 0 }}/{{ field.maxLength }}
      </div>
      } } @case ('text') {
      <dx-text-box
        class="dx-field-value"
        [placeholder]="field.placeholder || ''"
      >
      </dx-text-box>

      } @case ('table') {
      <app-data-grid customGrid="gridContainer"></app-data-grid>
      } @case ('label') {
      <p class="dx-field-label">{{ field.labelname }}</p>
      } }
    </div>
    }
  </div>
</div>
